/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
/ {


    keymap {



        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
// ----------------------------------------------
// |     Z     |     M     |     K     |
// |     A     |     B     |     C     |
            bindings = <
                &ext_power EP_TOG    &kp C   &kp K
                &kp A    &kp B    &kp C
              &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
              &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
              &kp B    &kp P
            >;
        };


    };


 };
