/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
/ {


    keymap {



        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
// ----------------------------------------------
// |     Z     |     M     |     K     |
// |     A     |     B     |     C     |
            bindings = <
                &kp NUMBER_1    &kp NUMBER_2   &kp NUMBER_3     &kp NUMBER_4      &kp NUMBER_5
                &kp NUMBER_6    &kp NUMBER_7   &kp NUMBER_8     &kp NUMBER_9      &kp NUMBER_0  
                &kp A                &kp B         &kp C          &kp D      &kp E
      &tog 1    &kp F                       &kp G                 &kp H      &kp I
            >;
        };
        abc { // Layer 1
            display-name = "ABC";
// ----------------------------------------------
// |      A      |       B       |       C      |
// |    &trans   |    &trans     |     &trans   |
            bindings = <
                &ext_power EP_TOG    &bootloader   &sys_reset     &kp A      &kp B
                &kp C                &kp Z         &kp M          &kp K      &kp A  
                &kp B                &kp C         &kp Z          &kp M      &kp K
      &tog 1    &kp B                       &kp C                 &kp B      &kp P
            >;
        };


    };


 };
